*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/2.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
}
.menu{
    margin-bottom: 100px;
    margin-right: 550px;
    color: antiquewhite;
    text-align: center;
}
.menu h3{
    font-size: 5vmin;
}
.head{
    width: 150px;
    height: 5px;
    background: pink;
    margin: 10px auto;
    border-radius: 7px;

}
.menu h1{
    font-size: 6vmin;
    margin-top: 15px;
    margin-bottom: 25px;
}
.exp{
    padding: 9px 17px;
    background: whitesmoke;
    border-radius: 32px;
    color: blue;
}
ul{
    list-style: none;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: antiquewhite;
}
.menu-links{
    display: flex;
    align-items: right;
    color: antiquewhite;
    margin-right: 70px;
    margin-top: 15px;
}
.menu-links li{
    margin: 0 25px;

}
.nav-menu-item >a{
    color: antiquewhite;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .5s ease;
}
.nav-menu-item :hover{
    background-color: rgb(96, 83, 145);
    box-shadow: 0 0 10px pink;
}
.menu-btn{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    cursor: pointer;
}



.portfolio .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    
}
.image-gallery img{
    max-width: 400px;
    margin: 15px;
    margin-left: 60px;
    margin-top: 10px;
}
h2{
    font-size: 6vmin;
    color:black;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px;
}
/*Contact page */

.contactform h4{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-left: 80px;
    text-align: center;
    padding-top: 80px;
}
.contactform p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(56, 10, 99);
    line-height: 25px;
    letter-spacing: 1px;
    margin-left: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.contactform form{
    position: relative;
    margin-top: 30px;
    margin-right: 300px;;
}
.contactform form input, form textarea{
    width: 50%;
    padding: 20px;
    border: none;
    outline: none;
    background: black;
    color: aliceblue;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 200px;
    
}
.contactform textarea{
    resize: none;
    height: 150px;
}
.contactform form .send{
    display: inline-block;
    background:rgb(196, 52, 114);
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    width: 150px;
    transition: ease .24s;
    text-transform: uppercase;
    
}

/* CSS FOR WORKEXPERIENCE */

.case{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid: column gap 20px;
}
.container{
    width: 100%;
    padding: 35px 10%;
}
.container{
    padding-right: calc(10% -30px);
}
.column header.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(194, 42, 143);
    padding: 0px 0px 10px 20px;
}

.column .subject{
    padding: 0px 20px;
    border-left: 1.5px solid rgb(21, 21, 102);
}
.column .subject .container{
    position: relative;
    padding: 20px;
    border: 2px solid rgb(231, 137, 137);
    background-color: rgb(153, 102, 200);
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 25x;
}
.column .subject .container:hover{
    box-shadow: 0px 4px 11px 0px rgb(123, 181, 239);
    border: 1px solid transparent;
}


@media only screen and (max-width:800px) {
    .header{
        display: inline;
    }
   main .row{
    grid-template-columns: 30px;
   }
   .row .col:nth-child(1){
    margin-top: 25px;
   }
}


  
                       
