*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/2.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
nav{
    height: 50px;
    background: rgb(60, 129, 208);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
nav .logo{
    font-size: 35px;
    color: white;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 13px;
}

nav ul li a{
    color: rgb(248, 244, 248);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 10px;
    border-radius: 7px;
}
nav ul li a:hover{
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px 8px #c5a0d9, 10px 10px 8px burlywood, 15px 15px 8px rgb(239, 143, 143);
    margin: 15px;
    transition: all 0.5s ease;
}
nav .menu-btn i{
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
.menu{
    margin-bottom: 100px;
    margin-right: 550px;
    color: antiquewhite;
    text-align: center;
}
.menu h3{
    font-size: 5vmin;
}
.head{
    width: 150px;
    height: 5px;
    background: pink;
    margin: 10px auto;
    border-radius: 7px;

}
.menu h1{
    font-size: 6vmin;
    margin-top: 15px;
    margin-bottom: 25px;
}
.exp{
    padding: 9px 17px;
    background: whitesmoke;
    border-radius: 32px;
    color: blue;
}

/* CSS for portfolio*/
.portfolio{
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    background: pink;
    overflow: auto;

}
.image-gallery{
    margin: 25px 45px;
    border: 1px solid black;
    float: left;
    width: 400px;

}
.image-gallery img{
    width: 100%;
    height: 350px;

}
.words{
    padding: 15px;
    text-align: center;
}
.headings{
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* CSS for Contact*/
/*Contact page */
#contact{
    justify-content: center;
    align-items: center;
}
.contactform h4{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-left: 80px;
    text-align: center;
    padding-top: 80px;
}
.contactform p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(56, 10, 99);
    line-height: 25px;
    letter-spacing: 1px;
    margin-left: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.contactform form{
    position: relative;
    margin-top: 30px;
    margin-right: 300px;;
}
.contactform form input, form textarea{
    width: 50%;
    padding: 20px;
    border: none;
    outline: none;
    background: black;
    color: aliceblue;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 200px;
    
}
.contactform textarea{
    resize: none;
    height: 150px;
}
.contactform form .send{
    display: inline-block;
    background:rgb(196, 52, 114);
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    width: 150px;
    transition: ease .24s;
    text-transform: uppercase;
    
}
.form-action{
    justify-content: center;
    align-items: center;
}

/* CSS for Work experience*/
.time{
    position: relative;
    max-width: 1150px;
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 2s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container :nth-child(1){
    animation: delay 0s;
}
.containe :nth-child(2){
    animation: delay 2s;
}
.container :nth-child(3){
    animation: delay 4s;
}
.container :nth-child(4){
    animation: delay 6s;
}
.text{
    padding: 20px 30px;
    background-color: blanchedalmond;
    border-radius: 5px;
    font-size: 17px;
}
.left-conatiner{
    left: 0;

}
.right-container{
    left: 50%;
}
.container img{
    position:fixed;
    width: 55px;
border-radius: 50%;
right: -20px;
top: 30px;

}
.right-container img{
    left: -32px;
}

.time::after{
    content: '';
    position:static;
    width: 6px;
    height: 80%;
    background: rgb(163, 103, 203);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards ;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text h6{
    font-size: 25px;
}
.text small{
    display: inline;
    margin-bottom: 15px;
    font-size: 15px;
}
.text p{
    font-size: 19px;
}
/* Site report*/

.site p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}
.report{
    column-count: 2;
    background-color: #c5a0d9;
    width: 700px;
    height: 650px;
    justify-content: left;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
}
.duty{
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    
}
.char{
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.square{
    padding: 1rem;
    justify-content: center;
}
.slide{
    position: relative;
    max-width: 65rem;
    margin-left: 200px;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 20px;
    color: darkcyan;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    color: burlywood;
}
@media only screen and (max-width:500px) {
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #c5a0d9;
        height: 100vh;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ menu-btn i::before{
        content: "\f00d";
    }
    nav ul li{
        margin: 40px 0;

    }
    nav ul li a{
        font-size: 20px;
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    nav .menu-btn i{
        display: block;
    }
    header .menu h1{
        font-size: 3vmin;
        margin-left: 100px;
        padding-left: 100px;
    }
    header .menu h3{
        font-size: 4vmin;
        margin-left: 100px;
        padding-left: 100px;
    }
    .exp{
        margin-left: 200px;
    }
    .portfolio .image-gallery{
        flex-wrap: wrap;
    }
    .image-gallery img{
        max-width: 300px;
        margin: 8px;
        margin-left: 55px;
        margin-top: 45px;
    }
    h2{
        font-size: 7vmin;
        color:rgb(127, 76, 184);
        text-align: center;
        margin-top: 80px;
        margin-bottom: 2px;
        padding: 10px;
    }
    .contact{
        padding: 10%;
    }
    .contactform form{
    position: absolute;
    margin-top: 30px;
    margin-right: 5px;;
    }
    .contactform form input, form textarea{
        width: 45%;
        padding: 20px;
        border: none;
        outline: none;
        background: black;
        color: aliceblue;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 15px;
        margin-left: 30px;
        margin-right: 250px;
        
    }
    .contactform h4{
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        margin-left: 60px;
        text-align: center;
        padding-top: 80px;
    }
    .contactform p{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(56, 10, 99);
        line-height: 18px;
        letter-spacing: 1px;
        margin-left: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    .form-action{
        justify-content: center;
        align-items: center;
    }
    .timeline{
        margin: 40px auto;

    }
    .time::after{
        left: 20px;
    }
    .container{
        width: 90%;
        padding-left: 60px;
        padding-right: 25px;
    }
    .text h6{
        font-size: 13px;
    }
    .text small{
        margin-bottom: 7px;
    }
    .right-container{
        left: 0;
    }
    .left-conatiner img, .right-container img{
        left: 10px;
    }
   
    .site p{
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
    }
    .report{
    column-count: 2;
    background-color: #c5a0d9;
    width: 500px;
    height: 700px;
    justify-content: left;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    }
    .slide{
        position: relative;
        max-width: 70rem;
        margin-left: 20px;
    }
}




  
                       
