*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/2.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
}
.menu{
    margin-bottom: 100px;
    margin-right: 550px;
    color: antiquewhite;
    text-align: center;
}
.menu h3{
    font-size: 5vmin;
}
.head{
    width: 150px;
    height: 5px;
    background: pink;
    margin: 10px auto;
    border-radius: 7px;

}
.menu h1{
    font-size: 6vmin;
    margin-top: 15px;
    margin-bottom: 25px;
}
.exp{
    padding: 9px 17px;
    background: whitesmoke;
    border-radius: 32px;
    color: blue;
}
ul{
    list-style: none;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: antiquewhite;
}
.menu-links{
    display: flex;
    align-items: right;
    color: antiquewhite;
}
.menu-links li{
    margin: 0 25px;

}
.nav-menu-item >a{
    color: antiquewhite;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .5s ease;
}
.nav-menu-item :hover{
    background-color: blue;
    box-shadow: 0 0 10px blue;
}

.active{
    border-bottom: 1px solid pink;
    
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 40px;
    width: 40px;
    cursor: pointer;

}
.portfolio .images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.images img{
    max-width: 300px;
    margin: 5px;
    margin-left: 10px;
    padding: 5px;
    

}
.portfolio h1 {
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:800px) {
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .menu-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(43, 43, 119);
        margin-top: -900px;
    }
    .mobile-menu{
        margin-top: 0px;

    }
    .images img{
        width:80%


    }
}


  /*Portfolio page */
 

/* CSS for the contact page */
                       
